<h2>Posts</h2>

<% if @posts %>
<div class='posts'>
<ul>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.title, url(:post, post) %>    
  </li>
  <% end %>
</ul>
</div>
<% else %>
<p>No posts, why not 
  <%= link_to 'create one?', new_post_path %>
</p>
<% end %>


