/* @override file:///Users/andy/dev/git/book_mdar/book/output/assets/styles.css */

/* @group Layout */

body {
 	background-color: #191919;
 	color: #3D3B37;
 	font: 62.5%/1.4 times, Times New Roman, times-roman, georgia, serif;
 	margin: 0;
 	padding: 0;
}

#book {
 	width: 60em;
 	margin: 0 auto;
 	padding: 1em 2em;
 	background: #fff;
}

/* @end */

/* @group Book styles */

#book-content {
 	font-size: 1.3em;
 	text-align: left;
}

#book-content p {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#book-content h1,
#book-content h2 {
 	margin: 2em 0 0;
 	text-align: center;
 	font-weight: normal;
 	text-transform: uppercase;
 	color: #c60;
 	border-top: 1px solid #f1f1f1;
 	border-bottom: 1px solid #f1f1f1;
 	font-size: 2em;
}

#book-content h1 {
	margin: 1em 0 5em 0;
	font-size: 2.4em;
}

#book-content h3 {
 	
}

#book-content h4 {
 	
}

#book-content strong {
 	
}

#book-content em {
 	
}

#book-content img {
 	float: right;
 	margin: .5em 0 .5em .5em;
 	padding: 2px;
 	background: #fff;
 	border: 1px solid #ccc;
}

#book-content a {
 	color: #3366ff;
 	text-decoration: underline;
}

#book-content a:hover {
 	color: #ff6633;
}

#book-content pre {
 	clear: both;
 	display: block;
 	margin: 0;
 	padding: 1em 2em;
 	background: #002241;
 	overflow: auto;
} 

#book-content code {
 	font: .9em Monaco, "Courier New", Courier, mono;
 	color: #933;
}

#book-content pre code {
 	color: #f6f07d;
}

#book-content blockquote p {
 	padding: 2em;
 	font-style: italic;
 	font-family: times, Times New Roman, times-roman, georgia, serif;
 	font-size: 1.1em;
}

/* @end */

/* @group TOC */

#table-of-contents {
 	display: none;
 	padding: 1em;
 	position: fixed;
 	top: 0;
 	background: #fff;
}

/* @end */